<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partians/head.ejs');%>
    <title> 
        <%= title%>
    </title>
</head>
<body>
    <%- include('../partians/nav.ejs'); %>
    <div class="container mt-4">
        <h1>Welcome to about page</h1>
    <h1> hello from express js</h1>
    </div>
</body>
</html>